<h1 mat-dialog-title>Export results</h1>
<mat-dialog-content>
  <p>Copy that contents and insert it to the VSCode <code>settings.json</code> or color theme file.</p>
  <mat-form-field appearance="fill">
    <textarea #jsonInput matInput readonly="true" [value]="data.json" matTextareaAutosize matAutosizeMinRows="8"
      matAutosizeMaxRows="8">
    </textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
