.container {
  display: grid;
  // grid-gap: 50px;
  // grid-template:
  //   " title        title        " auto
  //   " form-fields  color-editor " auto
  //   " actions      actions      " auto
  //   / 1fr          1fr;
  grid-template:
    " title    title   "auto " form-fields  color-editor "auto " actions  actions "auto / 1fr 1fr;
  grid-column-gap: 30px;

  .title {
    grid-area: title;
    margin: 20px 0;
  }

  .form-fields {
    grid-area: form-fields;
    display: grid;
    align-content: start;

    .icon-form-field {
      position: relative;
      display: flex;
      height: 65.5px;
      align-items: center;

      mat-placeholder {
        flex: 2 1 auto;
      }

      .mat-checkbox+.mat-checkbox {
        margin-left: 20px;
      }
    }
  }

  .colorPicker {
    grid-area: color-editor;

    height: 500px;
  }

  .actions {
    grid-area: actions;

    justify-self: end;
    padding: 8px 0;

    .mat-button+.mat-button {
      margin-left: 8px;
    }
  }
}
