<div class="main-container">
  <h1 class="title">Edit Token Color</h1>
  <ng-container *ngIf="token$ | async as token; else tokenIsEmpty">
    <ng-container *ngIf="token">
      <mat-form-field class="field-name">
        <input matInput placeholder="Name" maxlength="100" [(ngModel)]="token.name">
      </mat-form-field>
      <mat-form-field class="field-scope">
        <textarea matInput placeholder="Scope" required maxlength="250" [(ngModel)]="token.scope"></textarea>
      </mat-form-field>
      <section class="field-styles custom-form-field">
        <mat-placeholder>Font styles:</mat-placeholder>
        <mat-checkbox [(ngModel)]="token.fontStyleBold"><b>Bold</b></mat-checkbox>
        <mat-checkbox [(ngModel)]="token.fontStyleItalic"><i>Italic</i></mat-checkbox>
        <mat-checkbox [(ngModel)]="token.fontStyleUnderline"><u>Underline</u></mat-checkbox>
      </section>
      <cse-preview class="field-preview" [background]="token.background" [color]="token.color"
        [fontStyleBold]="token.fontStyleBold" [fontStyleItalic]="token.fontStyleItalic"
        [fontStyleUnderline]="token.fontStyleUnderline">
      </cse-preview>
      <section class="field-readability custom-form-field">
        <mat-placeholder>Readability:</mat-placeholder>
        <cse-readability-view [readability]="token.readability"></cse-readability-view>
      </section>
      <cse-color-picker [(color)]="token.color"></cse-color-picker>
      <div class="actions">
        <button mat-button (click)="onSave(token)">Save</button>
        <button mat-button (click)="onCancel()">Cancel</button>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #tokenIsEmpty>
  <p>There is no such color token. <a [routerLink]="'/token-colors'">Back to the editor</a></p>
</ng-template>
