<div class="container">
  <h2 class="title">Edit Token Color</h2>
  <mat-form-field class="field-name">
    <input matInput placeholder="Name" maxlength="100" value="name test">
  </mat-form-field>
  <mat-form-field class="field-scope">
    <textarea matInput placeholder="Scope" required maxlength="250" value="scope test"></textarea>
  </mat-form-field>
  <section class="field-styles custom-form-field">
    <mat-placeholder>Font styles:</mat-placeholder>
    <mat-checkbox [(ngModel)]="fontStyleBold"><b>Bold</b></mat-checkbox>
    <mat-checkbox [(ngModel)]="fontStyleItalic"><i>Italic</i></mat-checkbox>
    <mat-checkbox [(ngModel)]="fontStyleUnderline"><u>Underline</u></mat-checkbox>
  </section>
  <section class="field-readability custom-form-field">
    <mat-placeholder>Readability:</mat-placeholder>
    <cse-readability-view [readability]="readability"></cse-readability-view>
  </section>
  <cse-preview class="field-preview"></cse-preview>
  <cse-color-picker [color]="color" (colorChange)="onColorChange($event)"></cse-color-picker>
  <div class="actions">
    <button mat-button>Save</button>
    <button mat-button>Cancel</button>
  </div>
</div>
