<div class="container">
  <h2 class="title">Edit Token Color</h2>
  <div class="form-fields">
    <mat-form-field class="field-name">
      <input matInput placeholder="Name" maxlength="100" value="name test">
    </mat-form-field>
    <mat-form-field class="field-scope">
      <textarea matInput placeholder="Scope" required maxlength="250" value="scope test"></textarea>
    </mat-form-field>
    <section class="icon-form-field">
      <mat-placeholder>Font styles:</mat-placeholder>
      <mat-checkbox><b>Bold</b></mat-checkbox>
      <mat-checkbox><i>Italic</i></mat-checkbox>
      <mat-checkbox><u>Underline</u></mat-checkbox>
    </section>
  </div>
  <div class="color-editor" style="background-color: #a7ffeb">colorEditor</div>
  <div class="actions">
    <button mat-button>Save</button>
    <button mat-button>Cancel</button>
  </div>
</div>
