@import 'src/styles-responsive.scss';

.main-container {
  padding-right: 16px;
  padding-left: 16px;

  display: grid;
  grid-template:
    " title             "auto // prettier-ignore
    " field-preview     "auto // prettier-ignore
    " field-name        "auto // prettier-ignore
    " field-scope       "auto // prettier-ignore
    " field-styles      "auto // prettier-ignore
    " field-readability "auto // prettier-ignore
    " color-editor      "auto // prettier-ignore
    " actions           "auto // prettier-ignore
    / 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 8px;

  @include for-size($size-tablet-portrait-up) {
    grid-template:
      " title          title             "auto // prettier-ignore
      " field-name     field-readability "auto // prettier-ignore
      " field-scope    color-editor      "auto // prettier-ignore
      " field-styles   color-editor      "auto // prettier-ignore
      " spacer         color-editor      "auto // prettier-ignore
      " field-preview  color-editor      "auto // prettier-ignore
      " actions        actions           "auto // prettier-ignore
      / 1fr 1fr;
  }
}

.title {
  grid-area: title;
}

.field-name {
  grid-area: field-name;
}

.field-scope {
  grid-area: field-scope;
}

.field-styles {
  grid-area: field-styles;
}

.field-preview {
  grid-area: field-preview;
}

.field-readability {
  grid-area: field-readability;
}

cse-color-picker {
  grid-area: color-editor;
}

.actions {
  grid-area: actions;

  justify-self: end;
  padding: 8px 0;

  .mat-button+.mat-button {
    margin-left: 8px;
  }
}

.custom-form-field {
  position: relative;
  height: 65.5px;
  display: flex;
  align-items: center;

  mat-placeholder {
    flex: 2 1 auto;
  }

  .mat-checkbox+.mat-checkbox {
    margin-left: 20px;
  }
}
