<ng-container *ngIf="colorScheme$ | async as colorScheme; else howto">
  <!-- <cse-token-colors-table *ngIf="colorScheme.tokens.length > 0 || (tokensLoading$ | async); else howto"
    [colorSchemeName]="colorScheme.name" [tokens]="colorScheme.tokens" (resetItemEvent)="resetToOriginal($event)">
  </cse-token-colors-table> -->
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Theme Name</span>
      <span class="toolbar-spacer"></span>
      <cse-sort-by (changeSortEvent)="tokensSort = $event"></cse-sort-by>
    </mat-toolbar-row>
  </mat-toolbar>
  <cse-token-colors-list *ngIf="colorScheme.tokens.length > 0 || (tokensLoading$ | async); else howto"
    [tokens]="colorScheme.tokens" [sort]="tokensSort" (resetItemEvent)="resetToOriginal($event)">
  </cse-token-colors-list>
</ng-container>

<ng-template #howto>
  <cse-how-to></cse-how-to>
</ng-template>
