:host {
  display: block;

  .main-container {
    padding-right: 0;
    padding-left: 0;
  }
}

span.theme-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

cse-search-bar {
  margin-right: 8px;
}
