@import '~@angular/material/theming';

@mixin cse-font-style-view-component-theme($theme) {
  $accent: map-get($theme, accent);

  cse-font-style-view {
    mat-icon.active {
      color: mat-color($accent);
    }

    mat-icon.inactive {
      color: map-get($mat-light-theme-foreground, 'disabled');
    }
  }
}
