@import 'src/styles-responsive.scss';

.list-item {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 5px;
  /* prettier-ignore */
  grid-template:
    " readability-view  name    " auto
    " color-view        scope   " auto
    " font-style-view   actions " auto
    " divider           divider " auto
    / auto              1fr;

  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 16px;

  @include for-size($size-tablet-portrait-up) {
    /* prettier-ignore */
    grid-template:
      " readability-view  name      actions " auto
      " color-view        scope     actions " auto
      " font-style-view   scope     actions " auto
      " divider           divider   divider " auto
      / auto              1fr       auto;
  }

  @include for-size($size-tablet-landscape-up) {
    /* prettier-ignore */
    grid-template:
      " readability-view  color-view  font-style-view   name      actions " auto
      " .                 .           .                 scope     .       " auto
      " divider           divider     divider           divider   divider " auto
      / auto              auto        auto              1fr       auto;
  }

  cse-readability-view-compact {
    grid-area: readability-view;
    justify-self: start;

    min-width: 75px;
  }

  cse-color-view {
    grid-area: color-view;

    width: 100px;
  }

  cse-font-style-view {
    grid-area: font-style-view;

    margin-top: 8px;
  }

  .name {
    grid-area: name;

    overflow: hidden;

    h3 {
      align-self: center;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .scope {
    grid-area: scope;

    overflow: hidden;
  }

  .actions {
    grid-area: actions;

    justify-self: end;
  }

  mat-divider {
    grid-area: divider;
  }
}

.list-item:first-child {
  margin-top: 16px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

p.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

h3.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
