<div class="main-container">
  <mat-list *ngIf="dataSource$ | async as tokens">
    <div class="list-item" *ngFor="let token of tokens">
      <cse-readability-view-compact [readability]="token.readability">
      </cse-readability-view-compact>
      <cse-color-view [color]="token.color" [background]="token.background">
      </cse-color-view>
      <cse-font-style-view [fontStyleBold]="token.fontStyleBold" [fontStyleItalic]="token.fontStyleItalic"
        [fontStyleUnderline]="token.fontStyleUnderline">
      </cse-font-style-view>
      <h3 *ngIf="token.name; else noname">{{ token.name }}</h3>
      <div class="scope">
        <p class="line-clamp">{{ token.scope }}</p>
      </div>
      <div class="actions">
        <button mat-icon-button color="primary" (click)="resetToOriginal(token.id)" [disabled]="!token.modified"
          matTooltip="Reset to original values" [matTooltipDisabled]="!token.modified">
          <mat-icon svgIcon="undo"></mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/edit-token', token.id]" color="primary" matTooltip="Edit token color">
          <mat-icon svgIcon="pencil-alt"></mat-icon>
        </button>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>

<ng-template #noname>
  <h3 class="noname">&lt;No Name&gt;</h3>
</ng-template>
