<button mat-button [matMenuTriggerFor]="sortMenu">
  <span [ngSwitch]="sort?.field">
    <ng-container *ngSwitchCase="'NAME'">
      Sort By: Name
    </ng-container>
    <ng-container *ngSwitchCase="'SCOPE'">
      Sort By: Scope
    </ng-container>
    <ng-container *ngSwitchCase="'READABILITY'">
      Sort By: Readability
    </ng-container>
    <ng-container *ngSwitchCase="'COLOR'">
      Sort By: Color
    </ng-container>
    <ng-container *ngSwitchDefault>Sort By</ng-container>
    <mat-icon *ngIf="sort?.direction === 'asc'" svgIcon="long-arrow-alt-up" class="sort-arrow"></mat-icon>
    <mat-icon *ngIf="sort?.direction === 'desc'" svgIcon="long-arrow-alt-down" class="sort-arrow"></mat-icon>
  </span>
  <mat-icon svgIcon="caret-down" color="primary" class="menu-arrow-down"></mat-icon>
</button>
<mat-menu #sortMenu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="true">
  <button mat-menu-item (click)="changeSorting('NAME', 'asc')" [class.active]="isActive('NAME', 'asc')">
    <mat-icon svgIcon="sort-alpha-up-alt"></mat-icon>
    <span>Name Ascending</span>
  </button>
  <button mat-menu-item (click)="changeSorting('NAME', 'desc')" [class.active]="isActive('NAME', 'desc')">
    <mat-icon svgIcon="sort-alpha-down-alt"></mat-icon>
    <span>Name Descending</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="changeSorting('SCOPE', 'asc')" [class.active]="isActive('SCOPE', 'asc')">
    <mat-icon svgIcon="sort-alpha-up-alt"></mat-icon>
    <span>Scope Ascending</span>
  </button>
  <button mat-menu-item (click)="changeSorting('SCOPE', 'desc')" [class.active]="isActive('SCOPE', 'desc')">
    <mat-icon svgIcon="sort-alpha-down-alt"></mat-icon>
    <span>Scope Descending</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="changeSorting('READABILITY', 'asc')" [class.active]="isActive('READABILITY', 'asc')">
    <mat-icon svgIcon="sort-numeric-up-alt"></mat-icon>
    <span>Readability Ascending</span>
  </button>
  <button mat-menu-item (click)="changeSorting('READABILITY', 'desc')" [class.active]="isActive('READABILITY', 'desc')">
    <mat-icon svgIcon="sort-numeric-down-alt"></mat-icon>
    <span>Readability Descending</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="changeSorting('COLOR', 'asc')" [class.active]="isActive('COLOR', 'asc')">
    <mat-icon svgIcon="sort-amount-up-alt"></mat-icon>
    <span>Color Ascending</span>
  </button>
  <button mat-menu-item (click)="changeSorting('COLOR', 'desc')" [class.active]="isActive('COLOR', 'desc')">
    <mat-icon svgIcon="sort-amount-down-alt"></mat-icon>
    <span>Color Descending</span>
  </button>
</mat-menu>
