<cse-editor-toolbar [title]="(metadata$ | async).name" (filter)="applyFilter($event)"></cse-editor-toolbar>

<mat-table #table [dataSource]="dataSource" matSort>

  <!-- Readability Column -->
  <ng-container matColumnDef="readability">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Readability </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <cse-readability-view [readability]="element.readability"></cse-readability-view>
    </mat-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <cse-color-view [color]="element.color" [background]="(metadata$ | async).background">
      </cse-color-view>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Scope Column -->
  <ng-container matColumnDef="scope">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Scope </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.scope}} </mat-cell>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="openDialog(element)">Edit</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
