@import 'src/styles-responsive.scss';

#app-container {
  display: grid;
  // grid-template:
  //   " header " auto
  //   " main   " 1fr
  //   / 1fr
  // ;
  grid-template: " header "auto " main   "1fr / 1fr;
  height: 100vh;

  header {
    grid-area: header;

    mat-toolbar {
      background: linear-gradient(107deg, #ff5722, #9b0063);

      a.app-logo {
        margin-right: 16px;
        height: auto;
        width: auto;

        mat-icon {
          height: 48px;
          width: 48px;
        }
      }
    }

    .menu-arrow-down {
      margin-left: 5px;
    }

    mat-progress-bar {
      position: absolute;
      top: 64px;
      left: 0;

      @include for-size($size-phone-only) {
        top: 56px;
      }
    }
  }

  main {
    grid-area: main;
    overflow: auto;
  }
}
