@import 'src/styles-responsive.scss';

.menu-arrow-down {
  margin-left: 5px;
}

mat-progress-bar {
  position: absolute;
  top: 64px;
  left: 0;

  @include for-size($size-phone-only) {
    top: 56px;
  }
}
