$cse-light-primary: mat-palette($mat-deep-orange);
$cse-light-accent: mat-palette($mat-light-blue);
$cse-light-warn: mat-palette($mat-red);

$cse-light-theme: mat-light-theme($cse-light-primary, $cse-light-accent, $cse-light-warn);
