<div class="main-container">
  <h1 class="title">Here is nothing to edit</h1>
  <p>
    Looks like there are no token colors which could be edit.
  </p>
  <p>
    There is a few options to fix this
  </p>
  <ul>
    <li>Open the existing color theme file: <code>File</code> -> <code>Open local file...</code></li>
    <li>Import color scheme from copy-pasted contents of the color theme file: <code>File</code> -> <code>Import from
        copied JSON...</code>
    </li>
    <li>
      Generate your color scheme from VSCode directly
      <ol>
        <li>Open VSCode</li>
        <li>Press (CMD or CTRL) + SHIFT + P</li>
        <li>Enter: <code>> Developer: Generate Color Scheme From Current Settings</code> and copy the contents</li>
        <li>Open dialog: <code>File</code> -> <code>Import from copied JSON...</code> and paste</li>
      </ol>
    </li>
  </ul>
</div>
