@import '~@angular/material/theming';

@include mat-core();

@import './styles-responsive';

@import './light-theme';

@import './app/features/editor/components/font-style-view/font-style-view.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include cse-font-style-view-component-theme($theme);
}

@include angular-material-theme($cse-light-theme);
@include custom-components-theme($cse-light-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include for-size($size-phone-only) {
    max-width: 540px;
  }

  @include for-size($size-tablet-portrait-up) {
    max-width: 720px;
  }

  @include for-size($size-tablet-landscape-up) {
    max-width: 960px;
  }

  @include for-size($size-desktop-up) {
    max-width: 1140px;
  }
}

.code {
  font-family: operator mono ssm a, operator mono ssm b, operator mono, source code pro, Menlo, Consolas, Monaco, monospace;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
