@import '~@angular/material/theming';

@include mat-core();

@import './light-theme';

@import './app/features/editor/components/font-style-view/font-style-view.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include cse-font-style-view-component-theme($theme);
}

@include angular-material-theme($cse-light-theme);
@include custom-components-theme($cse-light-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.code {
  font-family: operator mono ssm a, operator mono ssm b, operator mono, source code pro, Menlo, Consolas, Monaco, monospace;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
